@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  text-align: center;
  background-color: #424874;
}

p {
  line-height: 1.5rem;
}

h1 {
  font-family: "Press Start 2P";
  font-size: 2rem;
  color: #F4EEFF;
}

h2 {
color: #424874;
}

h3 {
  color: #424874;
}

h4 {
    color: #F4EEFF;
}

a {
  font-family: "Ubuntu";
  color: #DCD6F7;
  margin: 100px 20px;
  text-decoration: none;
}

a:hover {
  color: #F4EEFF;
}

/** welcome section **/
.top-section {
  width: 100%;
  background-color: #A6B1E1;
  padding-top: 70px;
  padding-bottom: 50px;
  margin-left: 0;
}

.welcome-section {
  text-align: left;
  padding-left: 70px;
  margin-left: 5%;
}

.fotoprofilo {
  width: 30%;
  border-radius: 100%;
}

/** sezione mediana **/
.middle-section {
  width: 100%;
  background-color: #F4EEFF;
  position: relative;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.middle-title {
  width: 60%;
  margin: auto;
}

.skill {
  margin: 50px auto 50px auto;
  padding-top: 30px;
  width: 50%;
}

.testo {
  padding-top: 15px;
}

.passion-link {
  margin: 0;
  color: #424874;
}


/** piè di pagina **/
.bottom-section {
  background-color: #424874;
  padding-bottom: 40px;
}

.contatti {
  padding: 30px ;
}

.diritti {
  color: #F4EEFF;
  font-size: 0.75rem;
  padding-top: 40px;
}
